@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Merriweather:wght@400;700;900&display=swap');
*{
    margin: 0;
    padding: 0;

}
 /* common section */

p{
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: rgba(255, 255, 255, 0.80);
}








/* header section */
.new-year{
    width: 90%;
    background-image: url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 50px auto;
   border-radius: 15px 15px 15px 15px;
}
.new-year-overlay{
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00));
}
.new-year-text{
    width: 632px;
    margin: auto ;
    padding:233px 0 177px ;
}
.new-year-text h5{
    font-size: 32px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    font-family: 'Merriweather', serif;
}
.new-year-text h1{
    font-size: 72px;
    color: #fff;
    font-weight: 900;
    text-align: center;
    font-family: 'Merriweather', serif;
}




/* New Off */
.new-off{
    width: 740px;
    margin: 70px auto;
}
.new-off-title{
    width: 400px;
    margin: auto;
}
.new-off-title h1{
    color: #F00;
    font-size: 80px;
    font-weight: 700;
    text-align: center;
    font-family: 'Inter', sans-serif;
    margin-bottom: 25px;
}
.new-off-title h5{
    color: #F00;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
}
.new-off-title h2{
    color: #070211;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    margin: 5px 0 48px;
}
.new-off-img{}
.new-off-img img{
    width: 100%;
}



/* New Welcome */
.new-welcome{
    width: 90%;
    background-image: url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 50px auto;
    
   
}
.new-welcome-overlay{
    fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.8));
}
.new-welcome-title{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 0 60px 0;
}
.new-welcome-text{
    width:620px;
   
}
.new-welcome-text h1{
    color: #fff;
    font-size: 60px;
    font-weight: 900;
    font-family: 'Merriweather', serif;
    margin-bottom: 25px;
}
.new-welcome-text p{
    
    font-size: 18px;
}
.new-welcome-text button{
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background: transparent;
    border: none;
    padding-top: 30px;
}
.new-welcome-img{

}
.new-welcome-img img{
    width: 100%;
}




